$banner: "https://hooli-drive.sfo2.digitaloceanspaces.com/website/public/misc/banner.jpg";
$Kitch: "https://hooli-drive.sfo2.digitaloceanspaces.com/website/public/misc/ktich.jpg";
$LogoDark: "https://hooli-drive.sfo2.digitaloceanspaces.com/website/public/misc/Logo_dark.png";
$logoCardMeme: "https://hooli-drive.sfo2.digitaloceanspaces.com/website/public/misc/logo-card-meme.png";
$RitchieBongo: "https://hooli-drive.sfo2.digitaloceanspaces.com/website/public/misc/RitchieBongo.svg";
$RITEsportsWordmarkLongGray: "https://hooli-drive.sfo2.digitaloceanspaces.com/website/public/misc/RITEsports_Wordmark_LongGray.svg";
$RITEsportsWordmarkLongWhite: "https://hooli-drive.sfo2.digitaloceanspaces.com/website/public/misc/RITEsports_Wordmark_LongWhite.svg";
$RITEsportsWordmarkStackedGray: "https://hooli-drive.sfo2.digitaloceanspaces.com/website/public/misc/RITEsports_Wordmark_StackedGray.svg";
$RITEsportsWordmarkStackedWhite: "https://hooli-drive.sfo2.digitaloceanspaces.com/website/public/misc/RITEsports_Wordmark_StackedWhite.svg";
$shopnow: "https://hooli-drive.sfo2.digitaloceanspaces.com/website/public/misc/shopnow.png";
$merch2: "https://hooli-drive.sfo2.digitaloceanspaces.com/website/public/misc/Merch_2.png";
$ritEsports8: "https://hooli-drive.sfo2.digitaloceanspaces.com/website/public/assets/RIT_ESPORTS_8.jpg";

$controller: "https://hooli-drive.sfo2.digitaloceanspaces.com/website/public/teams/controller.jpg";
$playerNoPhoto: "https://hooli-drive.sfo2.digitaloceanspaces.com/website/public/players/player-no-photo.png";