@font-face {
  font-family: "Proxima Nova";
  src: url("./ProximaNova.otf") format('opentype');
}
@font-face {
  font-family: "Proxima Nova";
  font-weight: bold;
  src: url("./ProximaNovaBold.otf") format('opentype');
}
@font-face {
  font-family: "Proxima Nova";
  font-style: italic;
  src: url("./ProximaNovaItalics.otf") format('opentype');
}
@font-face {
  font-family: "Proxima Nova";
  font-weight: bold;
  font-style: italic;
  src: url("./ProximaNovaBoldItalics.otf") format('opentype');
}