@font-face {
  font-family: "Industry";
  src: url("./IndustryBlack.otf") format('opentype');
}
@font-face {
  font-family: "Industry";
  font-weight: bold;
  src: url("./IndustryBold.otf") format('opentype');
}
@font-face {
  font-family: "Industry";
  font-style: italic;
  src: url("./IndustryBlackItalics.otf") format('opentype');
}
@font-face {
  font-family: "Industry";
  font-weight: bold;
  font-style: italic;
  src: url("./IndustryBoldItalics.otf") format('opentype');
}